/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    background-color: #252424;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
}

.navbar .logo {
    font-size: 24px;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
}


.navbar nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar nav a:hover{
    color: #4CAF50;
}



.logo img {
    width: 50px;
    height: auto;
}

button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ddd;
}

.hamburg,
.cancel {
    display: none;
}

.dropmenu {
    display: none;
}

/* Contact Section */
.projects-section {
    padding: 50px;
    background-color: #252424;
}

h1 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
}

p {
    color: #fff;
    line-height: 1.6;
}

/* Form */
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #333;
}

/* Social Media Icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons img {
    
    border-radius: 50%;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

footer p {
    font-size: 1.2em;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header h1 {
        font-size: 2em;
    }

    form input,
    form textarea {
        font-size: 0.9em;
    }

    .social-icons img {
        width: 50px;
        height: 50px;
    }

    button {
        font-size: 0.9em;
    }
}
