html {
    scroll-behavior: smooth;
}

body {
    background-color: #111;
    font-family: 'IBM Plex Sans', sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
}

.navbar .logo {
    font-size: 24px;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
}

.navbar nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'IBM Plex Sans', sans-serif;

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.welcome {
    text-align: center;
}

.welcome h1 {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
}

hr {
    width: 1504px;
    height: 0px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #FFFFFF29
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large-project {
    margin-bottom: 20px;
}

.large-project img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 1, 344px;
    height: 1, 191px;
    border: 0px 0px 1px 0px;
    opacity: 0px;

}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    width: 100%;
    height: 200px;
    border: 1px solid #ddd;

    width: 416px;
    height: 277px;

}

.project-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'IBM Plex Mono', monospace;
    color: #fff;
}

.project-info p {
    font-size: 14px;
    color: #bbb;
}



footer {
    text-align: center;
    padding: 20px;
}

.contact-section {
    margin-bottom: 20px;
}

.contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.contact-header h2,
.contact-header nav p {
    color: #fff;
    margin: 0;
}

h2 {
    color: #fff;
    margin: 5px 0;
    text-align: left;
}

.contact-text {
    font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
    margin-left: 20px;
    text-align: right;

}


.follow-section {
    margin-bottom: 20px;
}

.follow-section h2 {
    text-align: center;
}

.subscribe {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.subscribe input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px 0 0 5px;
    width: 250px;
    background: #333;
    color: #fff;
}

.subscribe button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.subscribe button:hover {
    background-color: #45a049;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}

.footer-note {
    margin: 0; 
}
.footer-note p{
    color: #fff;
    font-size: 20px;
}

.container {
    margin: 0; 
}

.contact-button {
    width: 120px;
    height: 48px;
    font-size: 20px;
    padding: 5px 10px; 
    cursor: pointer;
    background-color: #111;
        border: 1px solid #FFFFFF29;
        border-radius: 8px;
        color: white;
}

.contact-button:hover{
    background-color: #333;
}