html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    cursor: url("images/cursor.png"), pointer;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

.navbar .logo {
    padding-left: 40px;
    font-size: 35px;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: normal;
    transition: all 0.3s;
}
.navbar .logo:hover{
    filter: brightness(3) drop-shadow(8px 8px 10px #20D816 );

}

.navbar nav {
    display: flex;
    align-items: center;
    margin-right: 50px;

}

.navbar nav a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    margin-left: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: all 0.3s ease-in-out;
    font-weight: normal;
}

.navbar nav a:hover {
    color: #20D816;
    filter: brightness(2) drop-shadow(0px 8px 10px #20D816 );

}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #fff;
    height: 100vh;
}


hr {
    width: 100%;
    max-width: 1504px;
    height: 0px;
    border: 1px solid #FFFFFF29;
    margin-bottom: 20px auto;
}

.welcome {
    text-align: center;
    /* margin: 0; */
    margin-top: 50px;
    padding: 100px 0 0 0;
}

.welcome h1 {
    font-size: 7rem;
    margin: 0;
    width: 100%;
    font-weight: 300;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    animation: slideIn 1.2s ease-out;
}


.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.large-project {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.large-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    padding-bottom: 20px;
    animation: fadeIn 1.8s ease-in-out;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1344px;
    margin-top: 100px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 1.5s ease-in-out;
}

.project:nth-child(1) { animation-delay: 0.3s; }
.project:nth-child(2) { animation-delay: 0.6s; }
.project:nth-child(3) { animation-delay: 0.9s; }

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.project img {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 416px;
    height: 277px;
    object-fit: cover;
    transition: opacity 0.3s ease;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.project:hover img {
    opacity: 0.8;
}

.project-info {
    text-align: left;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding-top: 0px;
    padding: 10px;
}

.project:hover .project-info {
    opacity: 1;
    transform: translateY(0);
}

.project-info h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 3px;
    font-family: 'IBM Plex Sans', monospace;
    color: #fff;
    text-align: left;
    font-weight: normal;
}

.project-info p {
    font-size: 14px;
    color: #bbb;
    margin: 0;
}

footer {
    text-align: center;
    padding: 20px;
}

.contact-section {
    padding-top: 60px;
    margin-bottom: 20px;
}

.contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    color: #fff;
}

.contact-header h2,
.contact-header nav p {
    color: #fff;
    margin: 0;
}

.contact-header h2 {
    padding-left: 70px;
    font-size: 24px;
    color: #fff;
}

.contact-text {
    font-size: 16px;
    margin: 0;
    padding-right: 240px;
    color: #fff;
}

.follow-section {
    margin-top: 140px;
    margin-bottom: 20px;
}

.follow-section h2 {
    color: #fff;
    text-align: center;
    font-weight: normal;
}

.subscribe {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.subscribe input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    width: 250px;
    background: #000;
    color: #fff;
}

.subscribe button {
    padding: 10px 20px;
    border: none;
    background-color: #20D816;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.subscribe button:hover{
    background-color: #12a90a;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}
.social-icons img:hover{
    transform: scale(1.3);
    filter: brightness(5) drop-shadow(0px 8px 10px #4CAF50 );

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer-text {
    margin: 0;
}

.footer-text p {
    color: #fff;
    font-size: 20px;
}

.container {
    margin: 0;
}

.contact-button {
    width: 120px;
    height: 48px;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #111;
    border: 1px solid #FFFFFF29;
    border-radius: 8px;
    color: white;
    transition: all 0.4s;
}

.contact-button a {
    text-decoration: none;
    color: white;
}

.contact-button:hover {
    background-color: #222;

}

/* mobile */
@media (max-width: 576px)  {
    body{
        overflow-x: hidden;
        align-items: center;

    }
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar nav {
        flex-direction: column;
        width: 100%;
    }

     .navbar nav a {
        margin: 10px 0px;
        margin-left: 50px;

        width: 100%;
        padding: 10px;
        text-align: center;

    } 

    .welcome h1 {

        font-size: 40px;
    }

    .large-project, .large-project img {
        width: 100%;
        padding: 10px;
    }

    .project-grid {
        grid-template-columns: 1fr;
        gap: 15px;
        margin-top: 50px;
    }

    .project img {
        max-width: 100%;
    
    }

    .contact-header {
        display: flex;
        justify-content: space-between;
    }
    .contact-text{
        padding-left: 30px ;
        padding-right: 0px;
    }

    .subscribe {
        flex-direction: column;
        width: 100%;
    }

    .subscribe input, 
    .subscribe button {
        width: 100%;
        margin-bottom: 10px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

/* tablet */
@media (min-width: 577px) and (max-width: 768px) {
    .navbar nav a {
        margin-left: 10px;
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .welcome h1 {
        font-size: 55px;
    }

    .large-project {
        height: auto;
    }
}

/* desktop */
@media (min-width: 993px) {
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { 
        opacity: 0; 
        transform: translateY(20px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}