html {
    scroll-behavior: smooth;
}

body {
    background-color: #111;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    cursor: url("cursor.png"), pointer;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
    animation: fadeIn 1s ease-in-out;
}

.navbar .logo {
    font-size: 24px;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
}

.navbar nav {
    display: flex;
    align-items: center;
}

.navbar nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar nav a:hover {
    color: #4CAF50;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #fff;
    height: 100vh;
}


hr {
    width: 100%;
    max-width: 1504px;
    height: 0px;
    border: 1px solid #FFFFFF29;
    margin-bottom: 20px auto;
}

.welcome {
    text-align: center;
    /* padding: 0 15px; */
}

.welcome h1 {
    font-size: 7rem;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 300;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    animation: slideIn 1.2s ease-out;
}


.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.large-project {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.large-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    padding-bottom: 20px;
    animation: fadeIn 1.8s ease-in-out;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1344px;
    margin-top: 100px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 1.5s ease-in-out;
}

.project:nth-child(1) { animation-delay: 0.3s; }
.project:nth-child(2) { animation-delay: 0.6s; }
.project:nth-child(3) { animation-delay: 0.9s; }

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.project img {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 416px;
    height: 277px;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.project:hover img {
    opacity: 0.8;
}

.project-info {
    text-align: left;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 10px;
}

.project:hover .project-info {
    opacity: 1;
    transform: translateY(0);
}

.project-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'IBM Plex Sans', monospace;
    color: #fff;
    text-align: left;
}

.project-info p {
    font-size: 14px;
    color: #bbb;
    margin: 0;
}

footer {
    text-align: center;
    padding: 20px;
}

.contact-section {
    margin-bottom: 20px;
}

.contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.contact-header h2,
.contact-header nav p {
    color: #fff;
    margin: 0;
}

h2 {
    color: #fff;
    margin: 5px 0;
    text-align: left;
}

.contact-text {
    font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
    margin-left: 20px;
    text-align: right;
}

.follow-section {
    margin-bottom: 20px;
}

.follow-section h2 {
    text-align: center;
}

.subscribe {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.subscribe input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px 0 0 5px;
    width: 250px;
    background: #333;
    color: #fff;
}

.subscribe button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.subscribe button:hover{
    background-color: #4caf4fa9;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer-note {
    margin: 0;
}

.footer-note p {
    color: #fff;
    font-size: 20px;
}

.container {
    margin: 0;
}

.contact-button {
    width: 120px;
    height: 48px;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #111;
    border: 1px solid #FFFFFF29;
    border-radius: 8px;
    color: white;
}

.contact-button a {
    text-decoration: none;
    color: white;
}

.contact-button:hover {
    background-color: #333;
}

/* Small devices (phones, up to 576px) */
@media (max-width: 576px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar nav a {
        margin: 10px 0;
        width: 100%;
        padding: 10px;
    }

    .welcome h1 {
        font-size: 24px;
    }

    .large-project, .large-project img {
        width: 100%;
        padding: 10px;
    }

    .project-grid {
        grid-template-columns: 1fr;
        gap: 15px;
        margin-top: 50px;
    }

    .project img {
        max-width: 100%;
    }

    .subscribe {
        flex-direction: column;
        width: 100%;
    }

    .subscribe input, 
    .subscribe button {
        width: 100%;
        margin-bottom: 10px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

/* Medium devices (tablets, 577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
    .navbar nav a {
        margin-left: 10px;
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .welcome h1 {
        font-size: 32px;
    }

    .large-project {
        height: auto;
    }
}

/* Large devices (small desktops, 769px to 992px) */
@media (min-width: 769px) and (max-width: 992px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .large-project {
        height: auto;
    }
}

/* Extra large devices (large desktops, 993px and up) */
@media (min-width: 993px) {
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { 
        opacity: 0; 
        transform: translateY(20px); 
    }
    to { 
        opacity: 1; 
        transform: translateY(0); 
    }
}